* 
{margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    
    
}


/*Menu de navegacion*/

.container_nav {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    display: flex;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.imagen img{
    margin-left: -140px;
    border-radius: 20PX;
    width: 100px;
    height: 90px;
    border: 5px double black;
    box-shadow: 10px 10px 60px black;
}



header {
    background-color: rgb(255, 255, 255);
     
    padding: -40px 0;
    border-radius: 1px;
    
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 450px;
    margin-top: 30px;
    
}

nav li {
    display: inline-table;
    justify-content: space-evenly;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(87,43,6);
    font-weight: bold;
    font-size: 30px;
    box-shadow: 5px 5px 10px black; 
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;   
}

nav a:hover {
    color: rgb(87,43,6);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    
}

/*Fin nav/*

/*Cabecera*/

.hero {
    /*background-image: url('img/biblia.jpg');*/
    background: linear-gradient(rgb(31,15,2) 30%,rgb(87,43,6) 80%); 
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    width: 100%;
    height: 500px;
    
}

.hero h2 {
    font-size: 50px;
    text-decoration: dashed;
    margin-top: -40px;
}

.hero p {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: #222;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
    margin-top: 20px;
    
}

.boton:hover {
    background-color: white;
    font-size: 28px;
    
}

/*FIN*/


/*productos*/
.productos{
    height: 400px;
}

.tit_productos {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(87,43,6);
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 35%;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}

.imagen-port{
        width: 45%;
        margin-bottom: 20px;
        height: 300px;
        text-align: center;
        transform-style: preserve-3d;
        transition: .7s ease;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}
    
    
    

    .imagen-port > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

    }

    .hover-galeria {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform:scale(0);
        background: hsla(0, 0%, 0%, 0.7);
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }



    .hover-galeria img{
        width: 80px;
        
    }

    .hover-galeria h2 {
        color: #fff;
        font-size: 40px;

    }
    .hover-galeria p {
        color: #fff;
        font-size: 20px;
        font-weight: bold;

    }

    .hover-galeria .fab{
        font-size:30px;
    margin: 4px;
    }

    .hover-galeria a  {
       
       text-decoration:none;
       color: rgb(255, 255, 255);
       line-height: 35px;
   }
   

   .hover-galeria a:hover {
       
       color: rgb(0, 0, 0);
       border-radius: 10px;
       
   }
   .hover-galeria p:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
    padding: 5px ;
}


    .imagen-port:hover .hover-galeria {
        transform: scale(1);

    }

    /*FIN CAJAS*/

/*FIN productos*/


.footer{
    background-color: black;
    height: 400px;
    
    
}

.footer h1{
    color:white;
    margin-left: 37%;
    padding-top: 50px;
    font-size: 50px;
}

.raya{
    background-color: white;
    height: 3px;
    width: 50%;
    margin: auto;
    

}

.cont{
    display: flex;
    padding-top: 15px;
    margin-left: -40px;
    justify-content: space-evenly;

}



.row img{
    
    margin: 2px;
    width: 60px;
    height: 50px;
    
}


.info{
    display: flex;
    justify-content: space-evenly;
    
}


.titulop{
    color: white;
    font-size: 40px;
    
}

.textp{
    color: white;
    text-align: center;
}



/*productos hombres*/

.productos_hombres{
    height: 900px;
    background-color: rgb(190, 190, 190);
    display: flex;
}

.cont_hom{
    background-color: black;
    height: 90%;
    width: 95%;
    margin: 5%;
    display: flex;
    justify-content: center;
    
}

.cajas_prod{
    background-color: white;
    height: 300px;
    width: 30%;
    margin: 5px;
}


/*FIN Prod hombres*/






@media screen and (max-width:1480px) {

    .imagen img{
        margin-left: -100px;
        border-radius: 20PX;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }

   
}


@media screen and (max-width:1410px) {

    .imagen img{
        margin-left: -60px;
        border-radius: 20PX;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }

   


}



@media screen and (max-width:1334px) {

    .imagen img{
        margin-left: 0px;
        border-radius: 20PX;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }

    .footer h1{
        color:white;
        margin-left: 10px;
        padding-top: 50px;
        font-size: 50px;
        text-align: center;
    }
}


@media screen and (max-width:1200px) {

    .imagen img{
        margin-left: 90px;
        border-radius: 20PX;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }
   

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 150px;
        margin-top: 30px;
        
    }

}



@media screen and (max-width:974px) {

    .imagen img{
        margin-left: 10px;
        border-radius: 20PX;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }
   

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 150px;
        margin-top: 30px;
        
    }

}


@media screen and (max-width:894px) {

    .imagen img{
        margin-left: 20px;
        border-radius: 20PX;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }


    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 60px;
        margin-top: 30px;
        
    }
   
}



@media screen and (max-width:814px) {

    .imagen img{
        margin-left: 20px;
        border-radius: 20PX;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }

   


    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 30px;
        margin-top: 30px;
        
        
    }


    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(87,43,6);
        font-weight: bold;
        font-size: 25px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }


    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        
        padding: 10px;
        
    }

   

}


@media screen and (max-width:707px) {

    .imagen img{
        margin-left: 270px;
        border-radius: 20PX;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }


    header {
        background-color: rgb(255, 255, 255);
        
        padding:10px 0;
        border-radius: 1px;
        
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: -340px;
        margin-top: 120px;
        margin-bottom: 20px;
        
    }
    
    nav li {
        display: inline;
        margin-right: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(87,43,6);
        font-weight: bold;
        font-size: 28px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        
    }
    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        
        padding: 10px;
        
    }
/*productos*/
.productos{
    height: 400px;
}

.tit_productos {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(87,43,6);
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 35%;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}

.imagen-port{
        width: 100%;
        margin-bottom: 20px;
        height: 300px;
        text-align: center;
        transform-style: preserve-3d;
        transition: .7s ease;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}
    
    
    

    .imagen-port > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

    }

    .hover-galeria {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform:scale(0);
        background: hsla(0, 0%, 0%, 0.7);
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }



    .hover-galeria img{
        width: 80px;
        
    }

    .hover-galeria h2 {
        color: #fff;
        font-size: 40px;

    }
    .hover-galeria p {
        color: #fff;
        font-size: 20px;
        font-weight: bold;

    }

    .hover-galeria .fab{
        font-size:30px;
    margin: 4px;
    }

    .hover-galeria a  {
       
       text-decoration:none;
       color: rgb(255, 255, 255);
       line-height: 35px;
   }
   

   .hover-galeria a:hover {
       
       color: rgb(0, 0, 0);
       border-radius: 10px;
       
   }

   .hover-galeria p:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
    padding: 5px ;
}


    .imagen-port:hover .hover-galeria {
        transform: scale(1);

    }

    /*FIN CAJAS*/

/*FIN productos*/
   
.footer{
    background-color: black;
    height: 100%;
    
    
}

.footer h1{
    color:white;
    margin-left: 10px;
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

.raya{
    background-color: white;
    height: 3px;
    width: 50%;
    margin: auto;
    

}

.cont{
    display: flex;
    padding-top: 15px;
    justify-content: center;
    top: 10px;
    
}


.row img{
    
    
    
    width: 60px;
    height: 50px;
    
}


.info{
    
    flex-direction: column;
    text-align: center;
    
}


.titulop{
    color: white;
    font-size: 40px;
    
}

.textp{
    color: white;
    text-align: center;
}



}



@media screen and (max-width:633px) {

.imagen{
    
    justify-content: center;
}

    .imagen img{
        
        border-radius: 20PX;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
        
    }


    header {
        background-color: rgb(255, 255, 255);
        
        padding:10px 0;
        border-radius: 1px;
        
        
    }

    
    
    nav ul {
        
        padding: 0;
        margin: 0;
        margin-left: -230px;
        margin-top: 120px;
        margin-bottom: 20px;
        
    }
    
    nav li {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color:rgb(87,43,6);
        font-weight: bold;
        font-size: 32px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px 90px 10px;
        
    }
    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        font-size: 50px;
        padding: 10px 20px 10px;
        
    }

 
}


@media screen and (max-width:580px) {

    * 
    {margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .imagen{
        justify-content: center;
        margin-left: -5%;
    }

    .imagen img{
        
        border-radius: 20px;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }


    header {
        background-color: rgb(255, 255, 255);
        
        padding:10px 0;
        border-radius: 1px;
        
    }
    
    nav ul {
        
        padding: 0;
        margin: 0;
        margin-left: -230px;
        margin-top: 120px;
        margin-bottom: 20px;
        
    }
    
    nav li {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(87,43,6);
        font-weight: bold;
        font-size: 32px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px 90px 10px;
        
    }
    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        
        padding: 10px;
        
    }

    


}

@media screen and (max-width:540px) {

    * 
    {margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .imagen{
        justify-content: center;
        margin-left: -10%;
    }

    .imagen img{
        
        border-radius: 20px;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }


    
    nav ul {
        
        padding: 0;
        margin: 0;
        margin-left: -230px;
        margin-top: 120px;
        margin-bottom: 20px;
        
    }
    
    nav li {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(87,43,6);
        font-weight: bold;
        font-size: 32px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px 90px 10px;
        
    }
    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        
        padding: 10px;
        
    }


    

    

}


@media screen and (max-width:480px) {

    .imagen{
        justify-content: center;
        margin-left: -15%;
    }
    .imagen img{
        
        border-radius: 20px;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }


    header {
        background-color: rgb(255, 255, 255);
        
        padding:10px 0;
        border-radius: 1px;
        
    }
    
    nav ul {
        
        padding: 0;
        margin: 0;
        margin-left: -230px;
        margin-top: 120px;
        margin-bottom: 20px;
        
    }
    
    nav li {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(87,43,6);
        font-weight: bold;
        font-size: 32px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px 90px 10px;
        
    }
    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        
        padding: 10px;
        
    }


   

}

@media screen and (max-width:460px) {

    .imagen{
        justify-content: center;
        margin-left: -20%;
    }
    .imagen img{
        
        border-radius: 20px;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }


    header {
        background-color: rgb(255, 255, 255);
        
        padding:10px 0;
        border-radius: 1px;
        
    }
    
    nav ul {
        
        padding: 0;
        margin: 0;
        margin-left: -230px;
        margin-top: 120px;
        margin-bottom: 20px;
        
    }
    
    nav li {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(87,43,6);
        font-weight: bold;
        font-size: 32px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px 90px 10px;
        
    }
    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        
        padding: 10px;
        
    }

    

}

@media screen and (max-width:415px) {

    .imagen{
        justify-content: center;
        margin-left: -25%;
    }
    .imagen img{
        
        border-radius: 20px;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }


    header {
        background-color: rgb(255, 255, 255);
        
        padding:10px 0;
        border-radius: 1px;
        
    }
    
    nav ul {
        
        padding: 0;
        margin: 0;
        margin-left: -230px;
        margin-top: 120px;
        margin-bottom: 20px;
        
    }
    
    nav li {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(87,43,6);
        font-weight: bold;
        font-size: 32px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px 90px 10px;
        
    }
    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        
        padding: 10px;
        
    }

    

}

@media screen and (max-width:400px) {

    .imagen{
        justify-content: center;
        margin-left: -30%;
    }
    .imagen img{
        
        border-radius: 20px;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }


    header {
        background-color: rgb(255, 255, 255);
        
        padding:10px 0;
        border-radius: 1px;
        
    }
    
    nav ul {
        
        padding: 0;
        margin: 0;
        margin-left: -180px;
        margin-top: 120px;
        margin-bottom: 20px;
        
    }
    
    nav li {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(87,43,6);
        font-weight: bold;
        font-size: 28px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 60px 5px;
        
    }
    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        font-size: 35px;
        padding: 10px;
        
    }
    
   
        
    
}


@media screen and (max-width:380px) {

    .imagen{
        justify-content: center;
        margin-left: -38%;
    }
    .imagen img{
        
        border-radius: 20px;
        width: 100px;
        height: 90px;
        border: 5px double black;
        box-shadow: 10px 10px 60px black;
    }


    header {
        background-color: rgb(255, 255, 255);
        
        padding:10px 0;
        border-radius: 1px;
        
    }
    
    nav ul {
        
        padding: 0;
        margin: 0;
        margin-left: -180px;
        margin-top: 120px;
        margin-bottom: 20px;
        
    }
    
    nav li {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    background-color: rgb(87,43,6);
        font-weight: bold;
        font-size: 28px;
        box-shadow: 5px 5px 10px black; 
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 60px 5px;
        
    }
    
    nav a:hover {
        color: rgb(87,43,6);
        background-color: #ffffff;
        border-radius: 20px;
        font-size: 35px;
        padding: 10px;
        
    }

}